.earningWishperLogo {
    
}
.earningText,
.wishperText {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
.earningText::first-letter ,
.wishperText::first-letter {
    font-size: 32px;
}